{{ $promo_image := (.Page.Resources.ByType "image").GetMatch "**background*" }}
{{ $col_id := .Get "color" | default .Ordinal }}
{{ $image_anchor := .Get "image_anchor" | default "smart" }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "max"  }}
{{ with $promo_image }}
{{ $promo_image_scaled := (.Fill (printf "1200x600 %s" $image_anchor)) }}
{{ $.Scratch.Set "promo_image" $promo_image_scaled }}
<link rel="preload" href="{{ $promo_image_scaled.RelPermalink }}" as="image">
{{ end }}
<section class="row td-cover-block td-cover-block--height-{{ $height }} js-td-cover td-overlay td-overlay--dark -bg-{{ $col_id }}" {{ with $.Scratch.Get "promo_image" }}style="background-image: url({{ .RelPermalink }});"{{ end }}>
  <div class="container td-overlay__inner">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          {{ with .Get "title" }}<h1 class="display-1 mt-0 mt-md-5 pb-4">{{ . | html }}</h1>{{ end }}
          {{ with .Get "subtitle" }}<p class="display-2 text-uppercase mb-0">{{ . | html }}</p>{{ end }}
          <div class="pt-3 lead">
            {{ .Inner }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>