.alert {
    padding: 2rem;
    font-weight: $font-weight-medium;

    // Saturate the theme colors to make them stand out a little.
    @each $color, $value in $theme-colors {
        &-#{$color} {
            $bg: saturate($value, 20%);
            color: color-yiq($bg);
            background: $bg;
        }
    }
}
