// Style alert boxes.

.alert {
    padding: 2rem;
    font-weight: $font-weight-medium;
    background: $gray-100;
    color: inherit;
    border: none;
    border-radius: 0;

    @include media-breakpoint-down(md) {
        padding: $spacer;
    }


    @each $color, $value in $theme-colors {
        &-#{$color} {
            & .alert-heading {
                color: $value;
            }

            border-style: solid;
            border-color: $value;
            border-width: 4px 1px 1px 1px;
        }
    }
}