// Boxes on the home page and similar.

@for $i from 1 through length($td-box-colors) {
    $c: nth($td-box-colors, $i);
    $j: $i - 1;
    $text-color: color-yiq($c);

    .td-box {
        &--#{$j} {
            color: $text-color;
            background-color: #{$c};

            a {
                color: darken($text-color, 20%);
            }
        }

        &--height-auto {
           
        }

        &--height-min {
            min-height: 450px;
        }

        &--height-med {
            min-height: 500px;
        }

        &--height-max {
            min-height: 650px;
        }

        &--height-full {
            min-height: 100vh;
        }
    }

    @if not $enable-gradients {
        .td-box-gradient-#{$j} {
            color: $text-color;
            background-color: #{$c};

            a {
                color: darken($text-color, 20%);
            }
        }
    }
}

@if $enable-gradients {
    @for $i from 1 through length($td-box-colors) {
        $c: nth($td-box-colors, $i);
        $j: $i - 1;
        $text-color: color-yiq($c);

        // Alow the .td-box-gradient class to be used on its own.
        .td-box-gradient {
            &--#{$j} {
                color: $text-color;

                a {
                    color: darken($text-color, 20%);
                }
            }
        }

        @include bg-gradient-variant(".td-box-gradient--#{$j}", $c);
    }
}