{{ with .Path }}
{{ $gh_repo := ($.Param "github_repo") }}
{{ if and $gh_repo $.Content }}
<div class="td-page-meta ml-2 pb-1 mb-2">
{{ $editURL := printf "%s/edit/master/content/%s/%s" $gh_repo ($.Site.Language.Lang) . }}
{{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (htmlEscape $.Title )}}
<a href="{{ $editURL }}" target="_blank"><i class="fa fa-edit"></i> {{ T "post_edit_this" }}</a>
<a href="{{ $issuesURL }}" target="_blank"><i class="fab fa-github"></i> {{ T "post_create_issue" }}</a>
</div>
{{ end }}
{{ end }}
{{ if not .Params.notoc }}
{{ with .TableOfContents }}
{{ if ge (len .) 200 }}
{{ . }}
{{ end }}
{{ end }}
{{ end }}